/* ヘッダー =============================================== */
.header-wrapper {
  box-sizing: border-box;
  position: fixed;
  width: 97vw;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 40px;
  border-radius: 24px;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.logo {
  position: relative;
  z-index: 10;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.nav-list-item {
  color: var(--white);
  text-transform: uppercase;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
}
.nav-list-item:hover {
  color: var(--blue);
  transition: 0.3s;
}
.hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  z-index: 10;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.line {
  width: 100%;
  height: 4px;
  background-color: var(--white);
  border-radius: 2px;
  transition: 0.3s;
}

.fv {
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding: 0 40px;
  display: flex;
}
.fv-text {
  align-self: center;
  position: relative;
  z-index: 1;
}
.fv-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}
.slide {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  height: 100vh;
}
.slide.active {
  opacity: 1;
  transition: all 1s ease;
}
.fv-img-index {
  position: absolute;
  top: 150px;
  left: 52px;
  width: 4px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.fv-img-index-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.circle {
  display: block;
  width: 6px;
  height: 6px;
  background: #d9d9d9;
  border-radius: 4px;
}
.circle.active {
  background-color: var(--blue);
  height: 64px;
  transition: all 1s ease;
}

/* サークル */
.circleButtonContaier {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 1000;
}
.circle-button {
  position: relative;
  width: 148px;
  height: 148px;
  color: #fff;
}
.center-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  background: var(--accent);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  border: 1px solid var(--white);
}

/* 回転する文字 */
.circle-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  height: 148px;
  animation: rotate 10s linear infinite;
  letter-spacing: 5.5px;
}
textPath {
  fill: var(--accent);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* コンテンツ =============================================== */
/* サンワXエナジーについて */
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  gap: 40px;
}
.about-text{
  padding:  0 20px;
}
.about-text:first-of-type {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.about-space {
  width: 90%;
  padding: 40px;
}
.about-nav-list-container {
  display: flex;
  align-items: flex-end;
}
.about-nav-list {
  font-size: 20px;
  font-weight: bold;
  color: #131313;
  background-color: #fff;
  padding: 12px 40px 12px 60px;
  border: 1px solid #131313;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.about-nav-list::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 34px;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background: url(../img/ballblack.svg) no-repeat center/contain;
}
.about-nav-list.active {
  font-size: 24px;
  background-color: #131313;
  color: #fff;
  padding: 16px 40px 12px 60px;
}
.about-nav-list.active::before {
  background: url(../img/ballwhite.svg) no-repeat center/contain;
  width: 32px;
  height: 32px;
}
.about-space-content {
  padding: 90px;
  background-color: #fff;
  border: 1px solid #131313;
  border-radius: 0 8px 8px 8px;
}
.about-space-text {
  display: flex;
  gap: 170px;
  margin-bottom: 40px;
}
.about-space-text-ttl-container {
  display: flex;
  font-size: 20px;
  color: #131313;
}
.about-space-text-time-container {
  display: flex;
  font-size: 20px;
  color: #131313;
}
.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.space-img {
  width: 100%;
}
/* メンバー */
.member-container {
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}
.member {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.member-text {
  background-color: var(--blue);
  padding: 32px 20px;
}
.name,
.position,
.comment {
  color: var(--white);
}
.name,
.position {
  font-weight: bold;
}
.name {
  font-size: 1.25rem;
}
.position {
  font-size: 1rem;
}

/* カレンダー */
.current-month {
  color: var(--blue);
}
.calendar-container {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

.calendar-header {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 1px solid var(--gray);
}

.nav-button {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--blue);
  cursor: pointer;
}

.legend {
  position: absolute;
  top: 60px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.event-marker {
  display: inline-block;
  position: relative;
  padding-left: 12px;
}

.match::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--blue);
}

.practice::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--purple);
}

.calendar-weekdays,
.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  gap: 10px;
}
.calendar-weekdays {
  margin-bottom: 20px;
}
.calendar-weekdays,
.calendar-dates .day {
  font-family: "Orbitron", sans-serif;
}

.calendar-weekdays div {
  font-weight: bold;
  color: var(--gray);
}

.calendar-dates .day {
  aspect-ratio: 1 / 1;
  border: 1px solid var(--gray);
  border-radius: 10px;
  padding: 5px;
  position: relative;
  text-align: left;
  font-size: 0.8em;
  color: var(--black);
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.calendar-dates .day.today {
  background-color: var(--blue);
  color: #fff;
  border-color: var(--blue);
}

/* ニュース */
.news-container {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}
.news-list {
  display: flex;
  gap: 60px;
  width: 100%;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 40px;
  align-items: center;
  cursor: pointer;
}
.news-day {
  font-family: "Orbitron", sans-serif;
  font-size: 0.8rem;
  color: var(--gray);
  min-width: 60px;
}
.news-category {
  font-size: 1.25rem;
  color: var(--white);
  background-color: var(--blue);
  padding: 4px 16px;
  border-radius: 20px;
  text-align: center;
  min-width: 80px;
}
.news-ttl {
  font-size: 1.5rem;
  font-weight: bold;
}

/* 体験案内 */
/* 体験案内 */
#trial {
  width: 95vw;
  margin: 0 auto;
  padding: 60px;
  background-color: var(--white);
  border-radius: 20px;
  position: relative;
}
.trial-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.trial-num {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  position: absolute;
}
.num {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--white);
  background: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
}

.trial-container {
  position: relative;
  padding-right: 80px;
  width: 100%;
}

.trial-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: -3px;
  width: 3px;
  height: var(--fill-height, 0);
  background-color: var(--black);
  transition: height 1s ease; 
}
.trial-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 40px;
  margin-bottom: 40px;
    position: relative;
}
.trial-first {
  font-size: 28px;
  font-weight: bold;
}
.trial-first::after {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: var(--white);
  background: var(--blue);
  text-align: center;
  line-height: 80px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 20px;
  position: absolute;
  right: -120px;
  top: -20px;
  z-index: 11;
}
.trial-content:nth-child(1) .trial-first::after {
  content: "01";
}
.trial-content:nth-child(2) .trial-first::after {
  content: "02";
}
.trial-content:nth-child(3) .trial-first::after {
  content: "03";
}


.trial-explanation {
  font-size: 18px;
  line-height: 1.6;
  color: var(--gray);
}
.trial-img{
    width: 100%;
}

/* アクセス */
.access-container{
  width: 90%;
  margin: 0 auto;
}
.access-info {
  font-weight: bold;
  margin-bottom: 4px;
  font-size: 1.25rem;
}
.access-info2 {
  margin-bottom: 20px;
  font-size: 1rem;
  color: var(--gray);
}

.access-how {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  align-items: flex-start;

  flex-wrap: wrap;
}
.access-item {
  width: 200px;
  height: 200px;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* フッター======================================= */
.footer-wrapper {
  width: 100%;
  background: var(--blue);
  padding: 120px 0 12px 0;
  position: relative;
}
.top-btn {
  position: absolute;
  top: -40px;
  right: 40px;
  width: 80px;
  height: 80px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--black);
  cursor: pointer;
}
.btn {
  border: none;
  background: none;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}
.btn::before {
  content: "↑";
  display: block;
  font-size: 1rem;
  font-weight: bold;
}
.footer {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left {
  width: 35%;
  padding-right: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.footer-logo {
  width: 150px;
}
.footer-right {
  width: 65%;
  border-left: 1px solid var(--white);
  padding: 12px 0 12px 60px;
}
.footer-right-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: var(--white);
}
.footer-right-nav {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
}
.footer-right-nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}
.footer-right-nav-list-item {
  color: var(--white);
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}
.sns a {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  color: var(--white);
  font-weight: bold;
}
.copyright {
  text-align: center;
  margin-top: 40px;
}
.copyright p {
  color: var(--white);
  font-size: 0.75rem;
}
@media (max-width: 1094px){
  .about-space-text{
    gap: 80px;
  }
}
@media (max-width: 994px){
  .about-space-content{
    padding: 40px;
  }
  .about-space-text{
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 958px) {
  h1 {
    font-size: 3rem;
  }
  .fv-img {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
    .fv-text-title {
    color: var(--white);
  }
  .slide {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
  }
  .fv-img-index-list {
    width: 100%;
    flex-direction: row;
  }
  .fv-img-index {
    top: inherit;
    bottom: 10%;
    left: 52px;
    flex-direction: row;
    width: 100px;
    height: 4px;
  }
  .circle.active {
    width: 64px;
    height: 6px;
  }

}
@media (max-width: 824px){
  .footer{
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
  .footer-left, .footer-right{
    width: 100%;
    padding: 0;
    border: none;
  }
  .footer-right{
    border-top: 1px solid var(--white);
    padding-top: 60px;
  }
  .footer-right-nav{
    gap: 10%;
    flex-direction: column;
  }
  .footer-right-nav-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin-bottom: 60px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  .ttl {
    font-size: 40px;
  }
  .ttl-sub {
    font-size: 20px;
    margin-left: 28px;
  }
  .ttl-sub::before {
    width: 24px;
    height: 24px;
    left: -28px;
  }
  .header.active {
    height: 100vh;
    width: 100vw;
    background-color: var(--black);
    position: fixed;
    z-index: 999;
  }
  .header-wrapper {
    width: 100vw;
  }
  .nav-list {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-100%);
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
  }
  .nav-list.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .hamburger {
    display: flex;
  }
  .line.active:nth-child(1) {
    transform: rotate(45deg) translateY(12px) translateX(2px);
  }
  .line.active:nth-child(2) {
    opacity: 0;
  }
  .line.active:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px) translateX(2px);
  }
  .fv-text {
    text-align: center;
    width: 100%;
  }
  .circleButtonContaier{
    bottom: 20px;
    right: 20px;
  }
  .about-space{
    width: 100%;
    padding: 20px;
  }
  .about-space-text-time-container{
    gap: 4px;
  }
  .member-container{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
  }
  .calendar-container{
    padding: 32px;
  }
  .current-month{
    font-size: 1.25rem;
  }
  .legend{
    top: 32px;
    left: 32px;
    font-size: 0.875rem;
  }
  .calendar-weekdays div{
    font-size: 0.875rem;
  }
  .calendar-dates .day{
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  .calendar-dates .day.today{
        border-radius: 50%;
  }
  .news-list{
    gap: 20px;
    flex-wrap: wrap;
  }
  #trial{
    width: 100%;
    padding: 40px;
  }
  .trial-container{
    margin: 40px 0;
    padding-right: 40px;
  }
  .trial-container::after{
    right: -1px;
  }
  .trial-first::after{
    right: -80px;
  }
  .trial-content{
    align-items: flex-start;
  }
}
@media (max-width: 526px){
  .about-nav-list{
    font-size: 16px;
    padding: 12px 20px 12px 40px;
  }
  .about-nav-list.active{
    padding: 14px 20px 12px 40px;
    font-size: 20px;
  }
  .about-nav-list::before{
    width: 16px;
    height: 16px;
    left: 20px;
  }
  .about-nav-list.active::before{
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 625px){
  .about-space-text{
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 400px){
  .news-ttl{
    font-size: 1.25rem;
  }
}