#trial {
  width: 100%;
  background: none;
  padding: 120px 0 0 0;
}
.ttl-wrapper {
  width: 100%;
  margin: 0 0 60px 0;
  padding-bottom: 40px;
}
.trial-wrapper {
  width: 100%;
  display: flex;
}
.trial-left {
  width: 15%;
  padding: 0 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trial-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.trial-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--gray);
  opacity: 0.3;
  font-size: 16px;
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trial-item::after {
  content: "";
  width: 16px;
  height: 16px;
  border-right: 2px solid var(--gray);
  border-bottom: 2px solid var(--gray);
  position: absolute;
  bottom: -30px;
  left: 44%;
  transform: rotate(45deg) translateX(-50%);
}
.trial-item:last-child::after {
  display: none;
}
.trial-item.active {
  background: var(--blue);
  opacity: 1;
}
.category-item.active::before {
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/ballbule.svg") no-repeat center/contain;
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: -30px;
}
.trial-right {
  width: 85%;
  padding: 40px 40px 80px 40px;
  background-color: var(--white);
  border-top-left-radius: 50px;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
legend {
  display: none;
}
label {
  display: block;
  width: 20%;
  font-size: 1em;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1em;
  color: var(--black);
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 0 0 40px 0;
}

.form-row label {
  display: block;
  width: 20%;
  font-size: 1em;
  font-weight: bold;
}

.input-container {
  flex-grow: 1;
  width: auto; 
  display: flex;
  flex-direction: column;
}
.radio-group .input-container {
  flex-direction: row; 
}

.datetime-group .input-container {
  flex-direction: row;
}
.input-flex {
    display: flex;
  flex-direction: column;
  gap: 12px;
}
.complete-message{
    color: var(--purple);
    padding-bottom: 40px;
}

@media (max-width: 768px){
    .trial-left{
    display: none;
    }
    .trial-right{
    width: 100%;
    border-top-right-radius: 50px;
    padding: 20px 20px 60px 20px;
    }
}
@media (max-width: 520px){
    .form-row{
    flex-direction: column;
    }
    .form-row label{
    width: 100%;
    margin: 0 0 10px 0;
    padding-top: 0;
    }
    .input-container{
    width: 100%;
    }
    .datetime-group .input-container{
    flex-direction: column;
    gap: 20px;
    }
    .btn-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}